:root {
  --primary-color: #9c64f7;
  --base-color: #fbf7ff;
  --secondary-color: #b485ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--base-color);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 60px;
}

p {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
}

hr {
  width: 90%;
  margin: 1rem auto;
}

.main-content {
  text-align: center;
  margin: 5rem auto;
}

button {
  border-radius: 4px;
  padding: 13px 40px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: white;
  transform: scale(1.1);
}

.contact {
  margin: 2rem auto;
}

.row {
  margin: 3rem auto;
}

.info {
  margin-bottom: 2.5rem;
  line-height: 1.5;
  font-size: 20px;
}

.container {
  margin: 5rem auto;
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 22px;
  }
  .main-content {
    margin: 5rem 2rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }
  h3 {
    font-size: 24px;
  }
  .row {
    flex-direction: column;
  }
  .col {
    margin: 3rem auto 0;
  }
  .second {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .col {
    margin: 0 10px;
  }
  .container {
    margin: 0 auto 5rem;
  }
}
