:root {
  --primary-color: #2a6f97;
  --base-color: rgba(169, 206, 239, 0.2);
  --secondary-color: rgba(169, 206, 239, 0.4);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--base-color);
}

button {
  border-radius: 4px;
  padding: 0.7rem 2.5rem;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: white;
  transform: scale(1.1);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 60px;
}

p {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

hr {
  width: 90%;
  margin: 1rem auto;
}

.index-main-content {
  text-align: center;
  margin: 5rem auto;
}

.index-contact-container {
  margin: 2rem auto;
}

.index-row {
  margin: 3rem auto;
}

.app-info {
  margin-bottom: 2.5rem;
  line-height: 1.5;
  font-size: 20px;
}

.inquiry-heading {
  display: flex;
}

.inquiry-info {
  display: flex;
}

.contact-page {
  background-color: var(--secondary-color);
  width: 80%;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  max-width: 1000px;
  margin: 0 auto;
}

.about-container {
  margin: 5rem;
}

.certification-link {
  text-decoration: none;
}

.headshot {
  max-height: 700px;
}

#about-page {
  max-width: 1080px;
  margin: 0 auto;
}

.workpage-container {
  max-width: 1000px;
}

.card {
  box-shadow: var(--box-shadow);
}

.workpage-heading {
  text-align: center;
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 22px;
  }
  .main-content {
    margin: 5rem 2rem;
  }
  .about-row {
    flex-direction: column;
  }
  .about-container {
    margin: 3rem;
  }
  .headshot {
    margin-top: 2rem;
  }
  .contact {
    display: flex;
    justify-content: center;
  }
  .workpage-link {
    padding: 15px 140px;
  }
  .contact-page {
    flex-direction: column;
  }
  .inquiry-heading {
    flex-direction: column;
    align-items: center;
  }
  .inquiry-info {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  .index-row {
    flex-direction: column;
  }
  .index-col {
    margin: 3rem auto 0;
  }
  .second {
    flex-direction: column-reverse;
  }
  .about-heading {
    font-size: 38px;
  }
  .workpage-link {
    margin-top: 1rem;
  }
  .contact-page {
    margin: 3rem auto;
    padding: 1.5rem;
  }
  .inquiry-heading {
    flex-direction: column;
  }
  .inquiry-info {
    flex-direction: column;
  }
  .workpage-container {
    padding: 3rem;
  }
  .workpage-heading {
    font-size: 46px;
    margin-bottom: 2rem;
  }
  .workpage-row {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin: 1.3rem auto;
    border-radius: 5px;
    padding: 2rem;
  }
  .card-body {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .index-col {
    margin: 0 10px;
  }
  .contact-page {
    margin: 3rem auto;
    padding: 1.5rem;
  }
  .inquiry-heading {
    flex-direction: column;
    align-items: start;
  }
  .inquiry-info {
    align-items: end;
    flex-direction: column;
  }
  .about-heading {
    font-size: 38px;
  }
  .workpage-container {
    padding: 3rem;
    margin: 0 auto;
  }
  .card {
    margin: 1rem;
    border-radius: 5px;
    padding: 2rem;
    max-width: 1000px;
  }
  .workpage-heading {
    font-size: 50px;
  }
}

@media (min-width: 1024px) {
  .about-heading {
    font-size: 54px;
  }
  .contact-page {
    padding: 2rem 5rem;
  }
  .card {
    max-width: 1000px;
  }
}
